@use "../../base/breakpoints" as *;
@use "../../base/typography" as *;

.hero {
    .content-wrapper {
        display: flex;
        flex-direction: column;
        gap: 24px;

        .slogan {
            padding: 16px;
            background-color: var(--color-neutral-100);

            @media screen and (min-width: $breakpoint-s) {
                padding: 20px 24px;

                @media screen and (min-width: $breakpoint-m) {
                    padding: 20px 32px;
                }
            }

            h1 {
                @include text-preset-1($color: var(--color-neutral-900), $weight: 700);
                height: 152px;
                border-bottom: 2px solid var(--color-neutral-900);
            }

            .event-details {
                @include text-preset-6($color: var(--color-neutral-900), $weight: 400);
                text-transform: uppercase;
                display: flex;
                justify-content: space-between;
                padding-top: 16px;
            }
        }

        .featured-keynote {
            padding: 20px 16px;
            background-color: var(--color-cyan-100);
        }
    }
}