@font-face {
  font-family: "Chakra Petch";
  src: url("../fonts/chakra-petch/chakra-petch-semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Chakra Petch";
  src: url("../fonts/chakra-petch/chakra-petch-bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Jetbrains Mono";
  src: url("../fonts/jetbrains-mono/static/jetbrains-mono-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Jetbrains Mono";
  src: url("../fonts/jetbrains-mono/static/jetbrains-mono-medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Jetbrains Mono";
  src: url("../fonts/jetbrains-mono/static/jetbrains-mono-bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Jetbrains Mono";
  src: url("../fonts/jetbrains-mono/static/jetbrains-mono-extrabold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}
body {
  position: relative;
  min-height: 100vh;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

:root {
  --color-neutral-900: #00151d;
  --color-neutral-800: #002a34;
  --color-neutral-600: #334e56;
  --color-neutral-500: #4b5e65;
  --color-neutral-200: #c4c7c8;
  --color-neutral-100: #fcf2ef;
  --color-green-200: #d9ff66;
  --color-yellow-100: #ffcf8a;
  --color-red-100: #fec1c3;
  --color-red-300: #ff7378;
  --color-cyan-100: #a5e5fc;
  --color-purple-100: #c8bdfd;
  --color-blue-100: #b8d8ff;
}

body {
  background-color: var(--color-neutral-900);
}

main {
  position: relative;
  z-index: 0;
  padding-top: 64px;
}

.page-footer {
  position: relative;
  z-index: 0;
}

.page-header,
section,
.page-footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-header > .content-wrapper,
section > .content-wrapper,
.page-footer > .content-wrapper {
  width: 91.47%;
}
@media screen and (min-width: 768px) {
  .page-header > .content-wrapper,
  section > .content-wrapper,
  .page-footer > .content-wrapper {
    width: 94.79%;
  }
}
@media screen and (min-width: 768px) and (min-width: 1200px) {
  .page-header > .content-wrapper,
  section > .content-wrapper,
  .page-footer > .content-wrapper {
    width: 94.44%;
  }
}

main {
  color: white;
}

.page-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 64px;
  background-color: var(--color-neutral-900);
}
.page-header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 64px;
  background-color: var(--color-neutral-900);
  z-index: -1;
}
.page-header .content-wrapper {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--color-neutral-600);
}
.page-header .content-wrapper .logo {
  width: 191px;
  height: 31px;
}
.page-header .content-wrapper .menu-wrapper .btn-menu {
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 1px solid var(--color-neutral-100);
}
.page-header .content-wrapper .menu-wrapper .btn-menu#btn-menu-open {
  display: none;
}
.page-header .content-wrapper .menu-wrapper .btn-menu#btn-menu-close {
  display: flex;
}
.page-header .content-wrapper .menu-wrapper .page-header-nav {
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
  width: 100%;
  height: 100vh;
  padding-top: 64px;
  transition: transform 0.3s ease-in-out;
}
.page-header .content-wrapper .menu-wrapper.menu-closed .btn-menu#btn-menu-open {
  display: flex;
}
.page-header .content-wrapper .menu-wrapper.menu-closed .btn-menu#btn-menu-close {
  display: none;
}
.page-header .content-wrapper .menu-wrapper.menu-closed .page-header-nav {
  transform: translateY(-100vh);
}

/*# sourceMappingURL=main.css.map */
